/* style="background:url('https://i.pinimg.com/originals/3b/1f/b6/3b1fb6d2de2a7814f5e9d87d63cee4c6.jpg');background-repeat: no-repeat;height: 100vh;background-size: cover; */
body {
	background:url('https://i.pinimg.com/originals/3b/1f/b6/3b1fb6d2de2a7814f5e9d87d63cee4c6.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

/*Additions and modifications to the framwork*/
.container {
  margin: 0 auto;
  width: 80%;
}

.card-image {
	min-height: 70%;
}

.modal {
	max-height: 100% !important;
}

.modal-left {
	min-height: 100%;
	width: 63%;
	float: left;
}

.modal-right {
}


/*own stuff*/
.post_image {
	width: 100%;
}
