/* style="background:url('https://i.pinimg.com/originals/3b/1f/b6/3b1fb6d2de2a7814f5e9d87d63cee4c6.jpg');background-repeat: no-repeat;height: 100vh;background-size: cover; */
body {
	/* background:url('https://i.pinimg.com/originals/3b/1f/b6/3b1fb6d2de2a7814f5e9d87d63cee4c6.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed; */
	/* background: linear-gradient(#2a363b, #e84a5f, #ff847c, #fecea8, #99b898); */
	background: #c85b5b;
	min-height: 100%;
}

/*Additions and modifications to the framwork*/
.container {
  margin: 0 auto;
  width: 80%;
}

.card-image {
	height: 70%;
}

.modal {
	height: 85% !important;
	max-height: 85% !important;

	width: 80% !important;
	max-width: 80% !important;
}

tr {
	max-width: 100% !important;
	overflow-wrap: break-word;
}

/*own stuff*/
.modrow {
	height: 100%;
}

.post_image {
	width: 100%;
	height: auto;
}
