<div class = "col s12 m6 l4">
  <div class="card hoverable medium grey lighten-2">
    <div class="card-image waves-effect waves-block waves-red lighten-2 grey lighten-4">
      <img class="responsive-img" src="{{ post.imagelink }}">
    </div>
    <div class="card-content black-text">
      <i class="material-icons left"><img class="circle" src="{{ post.author.avatar(36) }}"></i>
      <a href="{{ url_for('user', username=post.author.username) }}">
        {{ post.author.username }}
      </a>
      <i class="material-icons right">more_vert</i>

      <p class="truncate">{{ post.body }}</p>
    </div>
    <div class="card-action grey darken-4">
      {% if current_user.liked(post) %}
      <a href="{{ url_for('unlike', pid = post.id) }}" class="modal-action waves-effect waves-white btn-flat left red-text lighten-2">{{ post.liked.count() }} UnLike</a>
      {% else %}
      <a href="{{ url_for('like', pid = post.id) }}" class="modal-action waves-effect waves-red lighten-2 btn-flat left white-text">{{ post.liked.count() }} Like</a>
      {% endif %}
      <a class="modal-trigger white-text waves-effect waves-red lighten-2 btn-flat" href="#modal{{post.id}}">More</a>
      <!-- <a href="#">Share</a> -->
    </div>
  </div>

   <!-- Modal Structure -->
   <div id="modal{{post.id}}" class="modal modal-fixed-footer">
      <div class="modal-content grey lighten-2">


        <div class="row grey lighten-2">
          <div class="col s12 m8 valign-wrapper grey darken-4 modrow">
            <img class="responsive-img post_image" src="{{ post.imagelink }}">
          </div>
          <div class="col s12 m4 black-text modrow">
            <p>{{ post.body }}</p>
          </div>
        </div>
<!--

        <div class="modal-left valign-wrapper grey darken-4">
          <img class="responsive-img post_image" src="{{ post.imagelink }}">
        </div>

         <div class="modal-right black-text">
           <p>{{ post.body }}</p>
         </div> -->
     </div>
     <div class="modal-footer grey darken-4">
       {% if current_user.liked(post) %}
       <a href="{{ url_for('unlike', pid = post.id) }}" class="modal-action waves-effect waves-white btn-flat left red-text lighten-2">{{ post.liked.count() }} UnLike</a>
       {% else %}
       <a href="{{ url_for('like', pid = post.id) }}" class="modal-action waves-effect waves-red lighten-2 btn-flat left white-text">{{ post.liked.count() }} Like</a>
       {% endif %}
       <a href="#!" class="modal-action waves-effect waves-red lighten-2 btn-flat left white-text">Comment</a>
       <a href="#!" class="modal-action waves-effect waves-red lighten-2 btn-flat left white-text">Share</a>
       <a href="#!" class="modal-action modal-close waves-red lighten-2 waves-green btn-flat white-text">Close</a>
     </div>
   </div>
</div>
