<html>
<head>
	{% if title %}
	<title>{{ title }} - Picture.</title>
	{% else %}
	<title>Welcome to Picture.</title>
	{% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

	{% block styling %}{% endblock %}

</head>

<body class="white-text">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <div class="navbar-fixed">
    <nav class="grey darken-4 z-depth-2">
      <div class="nav-wrapper">

        <a href=" {{ url_for('index') }} " class="brand-logo waves-effect waves-red lighten-2"> Picture.</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
					{% if not current_user.is_anonymous %}
          <li><a href = "{{ url_for('index') }}" class="waves-effect waves-red lighten-2">Home</a></li>
					<li><a href="{{ url_for('explore') }}" class="waves-effect waves-red lighten-2">Explore</a></li>
					{% if current_user.ncount == 0 %}
					<li><a class='dropdown-trigger btn-flat grey darken-4 waves-effect waves-red' href='#' data-target='nots'>{{current_user.ncount}}</a></li>
					{% else %}
					<li><a class='dropdown-trigger btn red lighten-2 waves-effect waves-red' href='#' data-target='nots'>{{current_user.ncount}}</a></li>
					{% endif %}
					<ul id='nots' class='dropdown-content notif'>

						{% for notification in current_user.noti() %}
							{% if current_user.ncount > 0 %}
							<li class="notification"><a class="" href={{notification.hreflink}} >{{notification.notif}}</a></li>
							{% else %}
							<li class="notification"><a class="" href={{notification.hreflink}} >{{notification.notif}}</a></li>
							{% endif %}
						<li class="divider notification" tabindex="-1"></li>
						{% endfor %}

				  </ul>

					{% endif %}
          {% if current_user.is_anonymous %}
          <li>  <a href="{{ url_for('login') }}" class="waves-effect waves-red lighten-2">Login</a></li>
          {% else %}
          <li><a href="{{ url_for('upload') }}" class="waves-effect waves-red lighten-2">Upload</a></li>
          <li><a href="{{ url_for('user', username=current_user.username) }}" class="waves-effect waves-red lighten-2">Profile</a></li>
          <li><a href="{{ url_for('logout') }}" class="waves-effect waves-red lighten-2">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

  </div>
	<ul class="sidenav grey darken-4" id="mobile-demo">
		{% if not current_user.is_anonymous %}
		<li><a href = "{{ url_for('index') }}" class="white-text waves-effect waves-red lighten-2">Home</a></li>
		{% endif %}
		<li><a href="{{ url_for('explore') }}" class="white-text waves-effect waves-red lighten-2">Explore</a></li>
		{% if current_user.is_anonymous %}
		<li>  <a href="{{ url_for('login') }}" class="white-text waves-effect waves-red lighten-2">Login</a></li>
		{% else %}
		<li><a href="{{ url_for('upload') }}" class="white-text waves-effect waves-red lighten-2">Upload</a></li>
		<li><a href="{{ url_for('user', username=current_user.username) }}" class="white-text waves-effect waves-red lighten-2">Profile</a></li>
		<li><a href="{{ url_for('logout') }}" class="white-text waves-effect waves-red lighten-2">Logout</a></li>
		{% endif %}
	</ul>

	{% block headstuff %}{% endblock %}

  <div class="container">
    <!-- Page Content goes here -->
    {% block content %}{% endblock %}
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<script type="text/javascript" src="../static/scripts/mat.js"></script>

</body>
</html>
