{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col s12 m12 l6">
        <div class="card ">
        <h2 class="col s12 center-align">Register</h2>

        <form class="row" action="" method="post">
          {{ form.hidden_tag() }}

          <div class="card-content">
            <div class="col s12">
              {{ form.username.label }}<br>
              {{ form.username(size=32) }}<br>
              {% for error in form.username.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>

            <div class="col s12">
              {{ form.email.label }}<br>
              {{ form.email(size=32) }}<br>
              {% for error in form.email.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>

            <div class="col s12">
              {{ form.password.label }}<br>
              {{ form.password(size=32) }}<br>
              {% for error in form.password.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>

            <div class="col s12">
              {{ form.password2.label }}<br>
              {{ form.password2(size=32) }}<br>
              {% for error in form.password2.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>

            <div class="col s12 center-align">
              <p>{{ form.submit() }}</p>
            </div>
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>
{% endblock %}
