{% extends "base.html" %}

{% block content %}
<br>
<h1>Search result:</h1>
{% for user in users %}
<br>
<div class="row grey darken-3 white-text">
  <br>
  <div class="col s12 m3 valign-wrapper">
  <img src="{{ user.avatar(150) }}">
  </div>
  <div class="col s12 m9">
    <h1> {{ user.username }} </h1>
    {% if user.about_me %}<p>{{ user.about_me | safe}}</p>{% endif %}

    <div class="row">
      <div class="col l3 m4 s6">
        <a class="modal-trigger waves-effect waves-light btn red lighten-2" href="#modals{{user.id}}">{{ user.followers.count() }} Followers</a>
      </div>
      <div class="col l3 m4 s6">
        <a class="modal-trigger waves-effect waves-light btn red lighten-2" href="#modald{{user.id}}">{{ user.followed.count() }} Followed</a>
      </div>
      <div class="col l3 m4 s6">
        {% if user == current_user %}
        <a class="waves-effect waves-light btn red lighten-2" href="{{ url_for('edit_profile') }}">Edit profile</a>
        {% elif not current_user.is_following(user) %}
        <a class="waves-effect waves-light btn red lighten-2" href="{{ url_for('follow', username=user.username) }}">Follow</a>
        {% else %}
        <a class="waves-effect waves-light btn-flat red" href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
        {% endif %}
      </div>
      <div class="col l3 m4 s6">
        {% if user == current_user %}
        <a class="waves-effect waves-light btn red lighten-2" href="{{ url_for('unregister') }}">Unregister</a>
        {% endif %}
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
{% endfor %}
{% endblock %}
